
/* GENERAL SETTINGS */

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.marginauto {
    width: 80%;
    margin: 50px auto;
}

/* SECTION 1 SETTINGS */

.row {
    margin-top: 100px;
}

.container {
    margin: auto;
    width: 80%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.merchbox {
    float: left;
    width: calc(100% / 3);
}

.merchbox>img {
    height: 500px;
    object-fit:cover;
    text-align: center;
}





/* SECTION 2 SETTINGS */